<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="${title}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="theme-color" content="#000000" />

    <link rel="stylesheet" href="/index.css" />

</head>

<body>

<div>
    <div class="container root">
        <!--/*@thymesVar id="site" type="java.lang.String"*/-->
        <a href="/"><h2 class="site" th:text="${site}" /></a>
        <!--/*@thymesVar id="title" type="java.lang.String"*/-->
        <h1 th:text="${title}" />
        <!--/*@thymesVar id="content" type="java.lang.String"*/-->
        <div th:utext="${content}" />
    </div>
</div>

</body>

<!--/* TODO index.jsの存在チェック cssも */-->
<script src="/index.js"></script>

</html>
